{% extends 'base.html' %}

{% block content %}
<div class="h-10"></div>
  <form method="post">
    {%csrf_token%}
    <p>Are you sure you want to delete the task: "<b>{{object}}</b>"?</p>
    <button type="submit" class="mt-[44px] w-full h-[57px] text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm text-center mr-2 mb-2">
      <p class="text-[18px]">Confirm</p> 
  </button>
  </form>
{% endblock content %}
