{% extends "base.html" %}

{% block title %}Login{% endblock title %}

{% block content %}
<p class="text-[24px] px-[9px] py-[22px] pt-[72px]">Login</p>

<form action="" method="post">
    {% for field in form %}
        <div class="px-[9px] py-[22px]">
            {{ field.errors }}
            <label for="{{field.id_for_label}}" class="text-[18px]">
                {{ field.label_tag }}
            </label>
             <br>
            {{ field }}
            {% if field.help_text %}<p class="help">{{ field.help_text|safe }}</p>{% endif %}
        </div>
    {% endfor %}

    {%csrf_token%}

    <div class="py-[11px]"></div>

    <button type="submit" class="w-[382px] h-[57px] text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm text-center mr-2 mb-2">
        Login
    </button>
</form>

{% endblock content %}